<div class="container d-flex flex-column mt-md-5">

  <div class="row justify-content-around">

    <div class="col-md-5">
      <div class="card mb-3">
        <div class="row justify-content-end bg-cardMaconnerie">
          <div class="col col-lg-8 p-0 pr-md-0">
            <div class="card-body bg-whiteOp">
              <h5 class="card-title underline">Maçonnerie-Terrassement</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
              </p>
              <div>
                <%= link_to "en savoir plus", maconneries_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card mb-3">
        <div class="row justify-content-end bg-cardCharpente">
          <div class="col col-lg-8 p-0 pr-md-0">
            <div class="card-body bg-whiteOp">
              <h5 class="card-title underline">Charpente-Menuiserie</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
              </p>
              <div>
                <%= link_to "en savoir plus", maconneries_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-around mt-md-5">

    <div class="col-md-5">
      <div class="card mb-3">
        <div class="row justify-content-end bg-cardZinguerie">
          <div class="col col-lg-8 p-0 pr-md-0">
            <div class="card-body bg-whiteOp">
              <h5 class="card-title underline">Couverture-Zinguerie</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
              </p>
              <div>
                <%= link_to "en savoir plus", maconneries_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card mb-3">
        <div class="row justify-content-end bg-cardFaience">
          <div class="col col-lg-8 p-0 pr-md-0">
            <div class="card-body bg-whiteOp">
              <h5 class="card-title underline">Carrelage-Faïence</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.
              </p>
              <div>
                <%= link_to "en savoir plus", maconneries_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>