<div class="container d-flex flex-column justify-content-center text-justify mt-4 p-4 ctn-body">

  <div class="row">

    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag("maconnerieMaison.jpg", alt: "Maison construction", style:"height: auto; width: 100%;") %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag("maconnerieMaison.jpg", alt: "Maison construction", style:"height: auto; width: 100%;") %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col">
      <div class="card bg-cardImage mb-3 justify-content-end flex-row">

        <div class="col">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="card bg-cardImage mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag("maconnerieMaison.jpg", alt: "Maison construction", style:"height: auto; width: 100%;") %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>