<div class="container-fluid mt-md-5 ctn-row-icons">
    <div class="container">
        <div class="row p-3">
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag("icons/turnkeyProperty2.png", alt: "Maison clé en main", class: "rounded mb-3", size: "80x80") %>
                <h3 class="underline">RGE</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem
                    dolorum,
                    omnis doloribus architecto
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag("icons/label2.png", alt: "Les labels", class: "rounded mb-3", size: '80x80') %>
                <h3 class="underline">Garantie décenale</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem
                    dolorum,
                    omnis doloribus architecto
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
                <%= image_tag("icons/constructionMachine2.png", alt: "Le matériel", class: "rounded mb-3", size: '80x80') %>
                <h3 class="underline">QUALIBAT</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem
                    dolorum,
                    omnis doloribus architecto
                </p>
            </div>
        </div>
    </div>
</div>