<div class="container-fluid mt-5 ctn-row-icons">
    <div class="container">
    <div class="row p-3">
        <div class="col-md-4 text-center">
            <%= image_tag("icons/building2.png", alt: "Maison clé en main", class: "rounded-circle bg-light", size: "90x90") %>
            <h3 class="underline">Clé en main</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem dolorum,
                omnis doloribus architecto
            </p>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag("icons/certificat.png", alt: "Certificat", class: "rounded-circle bg-light", size: "90x90") %>
            <h3 class="underline">Certificat</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem dolorum,
                omnis doloribus architecto
            </p>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag("icons/trucking2.png", alt: "Tractopelle", class: "rounded-circle bg-light", size: "90x90") %>
            <h3 class="underline">Matériel</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem dolorum,
                omnis doloribus architecto
            </p>
        </div>
    </div>
    </div>
</div>