<div class="container-fluid mt-5">
    <div class="row p-3 ctn-row-icons">
        <div class="col-md-4 text-center">
            <%= image_tag("icons/certificat.png", alt: "Tractopelle", class: "rounded-circle bg-light", size: "90x90") %>
            <h3>Certificat</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem dolorum,
                omnis doloribus architecto
            </p>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag("icons/building2.png", alt: "Tractopelle", class: "rounded-circle bg-light", size: "90x90") %>
            <h3>Clé en main</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem dolorum,
                omnis doloribus architecto
            </p>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag("icons/trucking2.png", alt: "Tractopelle", class: "rounded-circle bg-light", size: "90x90") %>
            <h3>Matériel</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reprehenderit vero quasi quidem dolorum,
                omnis doloribus architecto
            </p>
        </div>
    </div>
</div>