<div class="jumbotron jumbotron-fluid d-flex align-items-end justify-content-start" id="bg-home-top">
    <div class="container">
        <h1 class="display-5 text-left">MAISON INDIVIDUELLE</h1>
        <p class="lead">Un projet de construction de maison neuve, contemporaine, moderne ou traditionnelle non energivore.</p>
    </div>
</div>
