<div class="container d-flex justify-content-center text-justify ctn-presentations mt-5 p-5">
    <div class="row align-items-center" style="min-height: 500px;">
        <div class="col d-flex flex-column">
            <h2 class="underline">Entreprise de Construction</h2>
            <p>
                La SARL Construction Frédéric est une entreprise de bâtiement située à Mussidan en Dordogne, nous
                mettons notre savoir-faire en maçonnerie, couverture, charpente, zinguerie, carrelage et terrassement
                dans la réalisation de vos projets.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi dicta esse accusantium odit natus
                deserunt nemo, ipsa provident iure corporis, nam tempora fugit, praesentium reprehenderit quis at
                architecto amet laborum!
            </p>
        </div>
        <div class="col-md mt-5">
            <%= image_tag("builder.jpg", alt: "Ouvrier", class: "img-fluid") %>
        </div>
    </div>
</div>