<div class="jumbotron jumbotron-fluid d-flex align-items-end" id="bg-home-top">
    <div class="container">
        <h1 class="display-5 text-left">MAISON INDIVIDUELLE</h1>
        <p class="lead">Un projet de construction de maison neuve, contemporaine, moderne ou traditionnelle non energivore.</p>
    </div>
</div>


<div class="container d-flex justify-content-center text-justify mt-4 p-4 ctn-body">
    <div class="row">
        <div class="col">
            <h2>Qui somme nous</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi dicta esse accusantium odit natus
                deserunt nemo, ipsa provident iure corporis, nam tempora fugit, praesentium reprehenderit quis at
                architecto amet laborum!
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi dicta esse accusantium odit natus
                deserunt nemo, ipsa provident iure corporis, nam tempora fugit, praesentium reprehenderit quis at
                architecto amet laborum!
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi dicta esse accusantium odit natus
                deserunt nemo, ipsa provident iure corporis, nam tempora fugit, praesentium reprehenderit quis at
                architecto amet laborum!
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi dicta esse accusantium odit natus
                deserunt nemo, ipsa provident iure corporis, nam tempora fugit, praesentium reprehenderit quis at
                architecto amet laborum!
                <%= link_to "technique 3", maconneries_path(anchor: 'technique3') %>
            </p>
        </div>
        <div class="col-md d-flex flex-column justify-content-end">
            <%= image_tag("builder.jpg", alt: "Ouvrier", class: "img-thumbnail") %>
            <%= image_tag("builder2.jpg", alt: "Ouvrier", class: "img-thumbnail mt-3") %>
        </div>
    </div>

</div>