<div id="bg-home-top"></div>

<div class="container d-flex align-item-center mt-5">
    <div class="row">
        <div class="col">
            <h3>Qui somme nous</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi dicta esse accusantium odit natus deserunt nemo, ipsa provident iure corporis, nam tempora fugit, praesentium reprehenderit quis at architecto amet laborum!
            </p>
        </div>
        <div class="col-md">
            <%= image_tag("builder.jpg", alt: "Ouvrier", class: "img-fluid") %>
            <%= image_tag("builder2.jpg", alt: "Ouvrier", class: "img-fluid mt-3") %>
        </div>
    </div>
</div>

<%= render 'homes/comment' %>