<%= image_tag("hero_1.jpg", alt: 'banner', style:"height: auto; width: 100%;") %>

<div class="mt-5">
    <h1>Ce que fait l'entreprise/Qui somme nous</h1>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque vel atque eum ex quis quidem libero dolore nisi
    tenetur perferendis modi iure id eius, ipsum iusto aut. Eligendi, ipsam! Error!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A sit repellat unde doloribus ipsam nam quae quas,
    repellendus nostrum odit tempore sint, rerum eos corrupti in. Earum voluptates dicta quae!
    Deserunt aperiam eius expedita, similique est necessitatibus, sint voluptatem non dolor incidunt aut quaerat
    pariatur, provident laudantium molestias delectus. Inventore laudantium repellat perferendis hic corrupti dolores
    laboriosam ipsam sequi modi.
    Quos a vitae facilis vel libero consequuntur quidem velit facere vero, rem laborum eum eius dolorem alias! Porro
    aliquam, sequi iure modi fugit hic aliquid eligendi illum nesciunt totam est?
</div>

<%= render 'homes/comment' %>