<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Ce site est édité par :<br>

                Nom<br>
                Prénoms<br>
                Domicile<br>
                Numéro de téléphone<br>
                Le cas échéant : numéro d’inscription au registre du commerce et des sociétés (RCS) ou au répertoire des
                métiers
                (RM).<br>

                Ce site est hébergé par :<br>

                Nom<br>
                Dénomination ou raison sociale.<br>
                Adresse.<br>
                Numéro de téléphone.<br>
            </p>
        </div>
        <div class="col">
            <p>Site réaliser par : Audebert Adrien<br>
                AudebertAdrien.pro@gmail.com
            </p>

            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </div>
    </div>

</div>