<div class="container ctn-color p-3">
    <div class="row">
        <div class="col-12 col-md-6 mb-5 mb-md-0">
            <p>
                Ce site est édité par :<br>

                Nom<br>
                Prénoms<br>
                Domicile<br>
                Numéro de téléphone<br>
                Le cas échéant : numéro d’inscription au registre du commerce et des sociétés (RCS) ou au répertoire des
                métiers
                (RM).<br>

                Ce site est hébergé par :<br>

                Nom<br>
                Dénomination ou raison sociale.<br>
                Adresse.<br>
                Numéro de téléphone.<br>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <p>Site réaliser par : Audebert Adrien<br>
                AudebertAdrien.pro@gmail.com
            </p>

            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
            <div>
                <% if !admin_signed_in? %>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownAdminLog"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAdminLog">
                        <%= link_to "Connexion", new_admin_session_path, method: :get, class: "dropdown-item" %>
                    </div>
                </div>
                <% end %>

                <% if admin_signed_in? %>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Option
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <%= link_to "Créer une réalisation", new_realisation_path, class: "dropdown-item" %>

                        <%= link_to "Deconnexion", destroy_admin_session_path, method: :delete, class: "dropdown-item" %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

</div>