<div class="container d-flex flex-wrap text-justify mt-4">
    <div class="row mb-4">
        <div class="col">
            <h2>Description du métier</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, provident alias odit ut quasi
                    ratione illo id temporibus. Quisquam quaerat minima, eos dolore quidem aut accusantium aspernatur
                    ipsum est voluptatem?
                </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <%= image_tag("img_1.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <div class="col-sm-6 my-4">
            <h3>type d'intervention 1</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
                reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas
                fuga
                provident a inventore.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <%= image_tag("img_2.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <div class="col-sm-6 my-4">
            <h3>type d'intervention 2</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
                reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas
                fuga
                provident a inventore.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <%= image_tag("img_3.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <div class="col-sm-6 mt-4">
            <h3>type d'intervention 3</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
                reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas
                fuga
                provident a inventore.
            </p>
        </div>
    </div>
</div>