<div class="container d-flex flex-wrap">
    <div class="row mb-3">
        <div class="col-sm-6">
            <%= image_tag("img_1.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <p class="col-sm-6 p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
            reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas fuga
            provident a inventore.
        </p>
    </div>
    <div class="row mb-3">
        <div class="col-sm order-2">
            <%= image_tag("img_2.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <p class="col-sm order-1 p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
            reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas fuga
            provident a inventore.
        </p>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <%= image_tag("img_3.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <p class="col-sm-6 p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
            reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas fuga
            provident a inventore.
        </p>
    </div>
</div>