<div class="container d-flex flex-column text-justify p-5">
    <div class="row my-4 align-items-center">
        <div class="col">
            <h2 class="underline">Description du métier</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, provident alias odit ut quasi
                ratione illo id temporibus. Quisquam quaerat minima, eos dolore quidem aut accusantium aspernatur
                ipsum est voluptatem?
            </p>
        </div>
    </div>

    <div class="row my-4 align-items-center justify-content-around">
        <div class="col-md-5">
            <%= image_tag("img_1.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <div class="col-md-5 my-auto">
            <h3 class="underline">type d'intervention 1</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
                reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas
                fuga
                provident a inventore.
            </p>
        </div>
    </div>
    <div class="row my-md-4 align-items-center flex-md-row-reverse justify-content-around">
        <div class="col-md-5">
            <%= image_tag("img_2.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <div class="col-md-5 my-auto">
            <h3 class="underline">type d'intervention 2</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
                reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas
                fuga
                provident a inventore.
            </p>
        </div>
    </div>
    <div class="row my-md-4 align-items-center justify-content-around">
        <div class="col-md-5">
            <%= image_tag("img_3.jpg", alt: "Image", class: "rounded img-fluid") %>
        </div>
        <div class="col-md-5 mt-auto">
            <h3 class="underline">type d'intervention 3</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate numquam, sit ullam consequatur
                reprehenderit enim nam accusamus, doloremque facilis autem necessitatibus aut iusto, mollitia sed quas
                fuga
                provident a inventore.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <%= link_to "Devis Gratuit", contacts_path, class: "btn" %>
        </div>
    </div>
</div>
