/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";

h1, h2, h3, h4, h5, h6{
  color: #FFC106;
}

a{
  color: #FFC106 !important;
}

.navbar-logo {
  width: 4em;
  height: auto;
}

.navbar-blue{
  background-color: #017BFF !important;
}

.navbar-contact{
  font-size: 1.8em; 
  color: #FFC106;
}


#bg-home-top{
  height: 100vh;
  background-image: url("hero_1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.comment{
  background-color: #FFF;
}



@include media-breakpoint-down(xs){
  .navbar{
    background-color: #017BFF!important;
    padding: 0;
  }

  .navbar-contact{
    font-size: 1em;
  }

  #bg-home-top{
    background-position: 87% 50%;
  }
}


@include media-breakpoint-down(sm) {
  .navbar{
    padding: 0;
  }

  .navbar-adjust-flex{
    justify-content: center;
  }

  #bg-home-top{
    background-position: 87% 50%;
  }
}


@include media-breakpoint-down(md){

  #bg-home-top{
    background-position: 87% 50%;
  }
}
