/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";


*{
  font-family: 'Work Sans', sans-serif;
  color: #28282D;

}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  text-decoration: underline red;
}

h2{
  font-weight: 600;
}

.navbar-color-js{
  background-color: #28282D!important;
}

.navbar-logo {
  width: 2em;
  height: auto;
}

.navbar *{
  color: #ffffff!important;
}

.navbar-contact *{
  font-size: 1.8em; 
}

#bg-home-top{
  height: 100vh;
  background-image: url("hero_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 87% 10%;
}

.comment{
  background-color: #FFF;
}

input[type="submit"]{
  background-color: #D73F00;
}

footer{
  background-color: #28282D;
  height: 5em;
}

@include media-breakpoint-up(md) {
  #navbarChangeLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-contact{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}