<footer class="container-fluid mt-5">
    <div class="row justify-content-center p-3">
        <div class="col-md-4">
            <p class="text-center">
                CONSTRUCTION FREDERIC : Entreprise de maçonnerie à Mussidan
                1 rue de la gare - 24400 MUSSIDAN <br>
                <%= link_to 'Mention légales', contacts_path %>
                -
                <%= link_to 'Secteur', contacts_path %>
            </p>
        </div>
    </div>
    <!-- <div style="display: none;">Icons made by <a href="https://www.flaticon.com/authors/freepik"
            title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div> -->
</footer>